#chordData
{
    text-align: center;
    position:relative;
    z-index: 1;
    top:78px;
    height: 1200px;
}
 
#pathChina
{
    text-align: center;
    position:absolute;
    z-index: ;
    height: 1000;
    width: 1089.6;
    top:60px;
    text-align: center;
    font-size: 15px
    font-weight: 600;
}

#Pathsvg
{
    text-align: center;
}

div.tooltip
{
    font-size: 21px;
}

path:hover
{
    opacity: 1;
    border-width: thick;
}









var matrix = [
    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 34575],
    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 22830],
    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20953],
    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 15824],
    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8357],
    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 15991],
    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 9523],
    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 15824],
    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6359],
    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 12135],
    [22223, 9353, 2421, 31948, 48397, 45162, 12952, 24213, 61999, 5251, 0, 93774],
    [5532, 9903, 20046, 5031, 7776, 16732, 4047, 3665, 7895, 924, 104955, 0]    
];
